.subnav {
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding-top: 12px;
}

.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6333 ,#f53e2d);
}

.subnav__list--item{
    margin-right: 8px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 26px;
}

.subnav__list--item-strong{
    font-weight: 600;
}

.subnav__list,
.subnav__list--item {
    list-style-type: none;
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    
}

.subnav__separator::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: white;
    right: -7px;
    top: 2px;

}

.modal--icon{
    width: 1.6rem;
    margin-right: 8px;
}

.subnav__list--icon{
    width: 1.5rem;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(119deg) brightness(101%) contrast(103%);
}

.subnav__hover:hover .subnav_ishover{
    opacity: 0.7;
    cursor: pointer;
}

.subnav_connect_hidden:hover .subnav_connect{
    display: block;
}

.subnav_connect{
    width: 188px;
    background-color: white;
    display: none;
    position: absolute;
    top: 120%;
    opacity: 1;
}

.subnav_connect::after{
    position: absolute;
    left: 0;
    top: 16px;
    width: 107%;
    height: 15%;
    content: "";
    display: block;
    top: -9%;
}

.subnav_link-download{
    display: inline-flex;
}

.subnav_imgdownload{
    height: 18.5px;
    margin-left: 11px;

}

.subnav_notify{
    position: absolute;
    width: 400px;
    background: white;
    top: 118%;
    right: 0;
    animation: subnavNotifyGrow ease-in 0.2s;
    transform-origin: calc(100% - 20px) top;
    display: none;
}

@keyframes subnavNotifyGrow {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.subnav_notify::after{
    position: absolute;
    left: 0;
    top: 16px;
    width: 107%;
    height: 15%;
    content: "";
    display: block;
    top: -9%;
}

.subnav_notify::before{
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 12px;
    top: -29px;
}

.subnav_notify-header{
    font-weight: 400;
    color: #999;
    margin-bottom: 12px;
    padding: 12px 0 0 12px;
}

.subnav_notify-item{
    display: flex;
}

.subnav_notify-item:hover,
.subnav_notify-footer:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.subnav_notify-image{
    width: 48px;
    margin: 12px 0 12px 12px;
}

.subnav_notify-item-content{
    margin-left: 12px;    
    padding: 20px 0;
}

.subnav_notify-main{
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    font-weight: 400;
}

.subnav_notify-desc{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
}

.is-new{
    background-color: rgba(245, 62, 46, 0.3);
}

.subnav_notify-footer{
    line-height: 50px;
    text-align: center;
    display: block;
    height: 50px;
    text-decoration: none;
    color: black;
}

.subnav__list--item:hover .subnav_notify{
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.modal__body{
    position: relative;
    margin: auto;
    z-index: 1;
    background-color: #ffffff;
    padding: 0 30px;
    min-width: 400px;
}

.modal__body-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0 40px 0;
}

.modal__body-header h3{
    font-size: 24px;
}

.modal__body-input{
    display: flex;
    flex-direction: column;
}

.modal__body-input-data{
    margin-bottom: 32px;
    padding: 8px 20px;
    border: 1px solid #dbdbdb;
}

.modal__body-button-1{
    border: none;
    background-color: #f3816b;
    width: 100%;
    padding: 12px 0;
    color: white;
    margin-bottom: 22px;
}

.modal__body-button-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.modal__body-button-2{
    font-size: 12px;
    color: #00478f;
    
}

.modal__body-button-3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    padding: 10px 40px;
    font-size: 16px;    
}

.modal__body-switch{
    font-size: 16px;
    margin: 40px 0;
}

.modal__body-switch p{
    text-align: center;
}

.modal__body-switch p a{
    text-decoration: none;
    color: #ee4d2d;
}

.modal__body-input-data:focus{
    border-color: #7c7b7b;
}

.modal__body-button-1:hover{
    cursor: not-allowed;
}

.modal__body-button-2:hover,
.modal__body-button-3:hover, 
.modal--icon:hover{
    cursor: pointer;
}