.{
    color: #F76E11;
    /* color: rgb(246, 110, 19); */
    color: #FF9F45;
    /* color: rgb(255, 159, 69); */
    color: #FFBC80;
    /* color: rgb(255, 188, 128); */
    color: #FC4F4F;
    /* color:rgb(252, 79, 79); */
    color: #FE7E6D;
    /* color: rgb(254, 126, 109); */
}