*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #c5f7dc;
    --dark-green: #3ac279;
    --yellow: #ffe8c3;
    --dark-yellow: #e89f29;
    --blue: #cde2ff;
    --dark-blue: #3d84e5;
    --red: #ffcfcb;
    --dark-red: #e9594c;
  }

body {
    font-family: 'Montserrat';
}

#toast {
    position: fixed;
    top: 32px;
    right: 16px;
}

.toast-message{    
    max-width: 400px;
    min-width: 400px;
    display: flex;   
    align-items: center; 
    margin-bottom: 16px;
    position: relative;
    transition: all linear 0.3s;
}

.toast-message--success {
    background-color: var(--green);
}

.toast-message--success .toast-message__div{
    background-color: var(--dark-green);
}

.toast-message--error {
    background-color: var(--red);
}

.toast-message--error .toast-message__div{
    background-color: var(--dark-red);
}

.toast-message--warning {
    background-color: var(--yellow);
}

.toast-message--warning .toast-message__div{
    background-color: var(--dark-yellow);
}

.toast-message--info {
    background-color: var(--blue);
}

.toast-message--info .toast-message__div{
    background-color: var(--dark-blue);
}

@keyframes fadeIN {
    from {
        opacity: 0;
        transform: translate(110%);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.toast-message__icon{
    width: 28px;
    height: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.toast-message .toast-message__div{
    
    height: 79px;
    flex: 0.02;
}

.toast-message__title{
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
}

.toast-message__subtitle {
    margin-bottom: 12px;
}

.toast-message__close-icon {
    width: 24px;
    height: 50%;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.6;
}

.icon_parent{
    flex: 0.07;
}

.toast-content{
    flex: 0.71;
}

.toast-close {
    flex: 0.2;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 8px;
    padding: 16px;
}

.btn:hover{
    opacity: 0.8;
    transform: scale(1.1);
    cursor: pointer;
}

.btn--success {
    background-color: var(--green);
}

.btn--warning {
    background-color: var(--yellow);
}

.btn--info{
    background-color: var(--blue);
}

.btn--error {
    background-color: var(--red);
}