@media(min-width: 1024px){
    #menu-icon {
        display: none;
    }
}

@media(min-width: 740px) and (max-width: 1023px){

}

@media(max-width: 739px){
    #nav {
        display: block;
    }

    #header {
        overflow: hidden;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        text-align: left;
    }

    #search-icon .sea{
        display: none;
    }

    #menu-icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}