* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{

}

#header{
    height: 46px;
    background-color: black;
}

#nav li{
    display: inline-block;
    
}

#nav li a {
    line-height: 46px;
    text-decoration: none;
    text-align: center;
    padding: 0 24px 0 24px;
    color: white;
    display: block;
}

#nav li a:hover{
    color: #000;
    background-color: #ccc;
}

#nav .subnav li{
    display: none;
}

#slider{

}

#content{

}

#footer{

}
