* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato;
}

#main{

}

#nav {
    display: inline-block;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 46px;
    background-color: black;
}

#nav > li {
    display: inline-block;   
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
    line-height: 46px;
}

#nav li a {
    
    text-decoration: none;
    text-align: center;
    padding: 0 24px 0 24px;
    display: block;
    font-size: 15px;
   
}

#nav > li:hover > a, #nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    top: 100%;
    left: 0%;
    min-width: 160px;
    position: absolute;
    color: black;
    background-color: white;
    list-style-type: none;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav .subnav a {
    display: block;
    padding: 8px 16px;
    line-height: 22.5px;
    width: 100%;
}

#nav  li:hover .subnav{
    display: block;
}

#nav .subnav a {
    display: block;
    padding: 8px 16px;
    line-height: 22.5px;
    width: 100%;
    color: black;
}

#nav  li:hover .subnav{
    display: block;
}

#nav .subnav li a{
    text-align: left;
}

#search-icon{
    float: right;
}

#search-icon .sea{
    color: white;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#search-icon:hover .sea{
    background-color: red;
}

#nav .subnav li a{
    text-align: left;
}

#slider{
    position: relative;

    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
    color: white;
}

#slider .slider-title{
    font-size: 24px;
}

#slider .slider-main{
    margin-top: 15px;
    font-size: 15px;
}

#slider .slider-content{
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    bottom: 32px;
}


#content{

}

#footer{

}