* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Lato;
}

#main{

}

#header{
    height: 46px;
    background-color: black;
}

#nav > li {
    display: inline-block;   
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
    line-height: 46px;
}

#nav li a {
    
    text-decoration: none;
    text-align: center;
    padding: 0 24px 0 24px;
    display: block;
    font-size: 15px;
   
}

#nav > li:hover > a, #nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    top: 100%;
    left: 0%;
    min-width: 160px;
    position: absolute;
    color: black;
    background-color: white;
    list-style-type: none;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav .subnav a {
    display: block;
    padding: 8px 16px;
    line-height: 22.5px;
    width: 100%;
}

#nav  li:hover .subnav{
    display: block;
}

#slider{
    height: 500px;
    background-color: black;
}

#nav .subnav li a{
    text-align: left;
}

#content{

}

#footer{

}