* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway";
    background-color: #f1f1f1;
    margin: 0 16px;
}

.box-black {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 2px 8px;
    font-size: 15px;
}

.box-white {
    background-color: #ccc;
    color: black;
    display: inline-block;
    padding: 1px 6px;
    font-size: 13px;
}

.left-col-66 {
    float: left;
    width: calc(99% / 3 * 2);
}

.right-col-33 {
    float: left;
    width: calc(99% / 3);
}

.left-col-20{
    float: left;
    width: calc(99% / 5);
}

.right-col-80{
    float: left;
    width: calc(99% / 5 * 4);
}

#content::after{
    content: "";
    display: table;
    clear: both;
}

#box::after {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}

#header {
    padding: 32px 0;
}

#header .title {
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    margin: 10px 0;
    font-size: 40px;
}

#header .content {
    text-align: center;
    font-size: 15px;
}

.shadow {
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#content .main {
    background-color: white;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-right: 32px;
}

#content .m-box-content{
    padding: 0 16px;
}

#content .main .m-image {
    width: 100%;
}

#content .main .m-header {
    margin: 10px 0;
    font-weight: 550;
    font-size: 27px;
}

#content .main .m-sub-header {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 370;
}

#content .light {
    display: inline-block;
    font-weight: 340;
    font-style: italic;
} 

#content .main .m-content {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 1.5;
}

#content .main .btn {
    padding: 16px 24px;
    background-color: white;
    border: 1px solid #ccc;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 15px;
}

#content .main .btn:hover{
    background-color: #ccc;
    cursor: pointer;
}

#content .main .m-comment{
    float: right;
}

#content .main .m-comm1{
    font-weight: 700;
    line-height: 60px;
    padding-right: 10px;
}

#content .main .m-comm2{
    display: inline-block;
    padding: 2px 8px;
    background-color: black;
    color: white;
}

#content .main .m-comm3{
    display: inline-block;
    padding: 2px 8px;
    background-color: black;
    color: white;
    border-radius: 13px;
}

#content .nav {
    margin-top: 16px;
    background-color: white;
}

#content .nav img{
    width: 100%;
}

#content .nav .m-header {
    margin: 10px 0;
    font-weight: 550;
    font-size: 20px;
}

#content .nav .m-content {
    margin-top: 25px;
    padding-bottom: 25px;
    font-size: 17px;
    line-height: 1.5;
}

#content .nav .box-title{
    background-color: #f1f1f1;
    font-size: 20px;
}

#content .box {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

#content .box:hover {
    background-color: #ccc;
    cursor: pointer;
}

#content .box .title-box{
    padding: 10px 0;
} 

#content .left-col-20 img {
    padding-right: 25px;
}

#content .right-col-80 .title-text {
    font-size: 18px;
    margin-bottom: 5px;
}

#content .right-col-80 .sub-title-text {
    font-size: 15px;
}

#content .box-tags{
    padding: 16px;
}

#content .box-tags .mg-tag {
    margin-bottom: 20px;
}

#footer {
    margin: 0 -16px;
    background-color: #616161;
    color: #ccc;
}

#footer .btn {
    padding: 16px 26px;
    margin-top: 32px;
    margin-bottom: 31px;
    border: none;
    margin-left: 16px;
    background-color: #000;
    color: #ccc;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

#footer .btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#footer .credit{
    padding-bottom: 52px;
    padding-left: 16px;
    color: white;
}

#footer .credit a{
    color: white;
}

#footer .disable{
    opacity: 0.4;    
}

#footer .disable:hover{
    cursor: not-allowed;
}